.button-green {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #4CAF50; /* Green background */
    cursor: pointer;
    border: 1px solid #4CAF50; /* Green Border */
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #3e8e41, -3px -3px 6px #66bb6a;
}

.button-green:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #3e8e41, inset -2px -2px 3px #66bb6a;
}

.button-red {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #F44336; /* Red background */
    cursor: pointer;
    border: 1px solid #F44336; /* Red border */
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #d32f2f, -3px -3px 6px #ff6659;
}

.button-red:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #d32f2f, inset -2px -2px 3px #ff6659;
}

.button-blue {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #2196F3; /* Blue background */
    cursor: pointer;
    border: 1px solid #2196F3; /* Blue border */
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #1e88e5, 2px 2px 6px #64b5f6;
}

.button-blue:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #1e88e5, inset -2px -2px 3px #64b5f6;
}